@model Blog.DTOs.BlogPostDTO

@{
    ViewData["Title"] = "Post";
}
<link rel="stylesheet" href="~/css/trumbowyg.min.css" />

<form asp-controller="Home" asp-action="Create" method="post" enctype="multipart/form-data">
    <div>
        <label>Title</label>
        <input asp-for="Title" type="text" />
    </div>
    <div>
        <label>Body</label>
        <textarea asp-for="Body" id="editor" class="trumbowyg-editor" contenteditable="true" dir="ltr" style="height: 198.222px;">
            </textarea>
    </div>
    <div>
        <label>Image</label>
        <input asp-for="MainPhoto" type="file"/>
    </div>
    <input type="submit" value="submit" />
</form>


@section Scripts{

    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="~/js/trumbowyg.min.js"></script>
    <script>$('#editor').trumbowyg();</script>
}
